.members-page {
    height: calc(100vh - 20rem);
    flex-direction: column;
    align-items: center;
    padding-inline: 2rem;
    margin-top: 14rem;
    overflow: scroll;
}

.search-bar-container {
    position: fixed;
    top: 6rem;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-bar {
    width: calc(100vw - 4rem);
    height: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  var(--dashMenuColor);
    border-radius: 16px;
    border: 1px solid #fff;
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    background-color: transparent;
    color: var(--fontPrimary);
    text-transform: uppercase;
    font-size: 1.8rem;
}

.search-input::placeholder {
    color: var(--fontPlaceholder);
    text-transform: uppercase;
}

.search-button {
   width: 2rem;
   height: 2rem; 
   border: none;
   outline: none;
   background-color: transparent; 
   background-image: url('../../assets/img/magnifying-glass.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.search-button:hover {
    transform: scale(1.1);
}

.members-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 2rem;
}

.members-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.members-footer > *:last-child {
    border-right: none; /* Supprime la bordure sur le dernier élément */
    margin-right: 0; /* Supprime la marge sur le dernier élément */
}