.group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dashMenuColor);
    border-radius: 16px;
    border: 1px solid var(--dashMenuBorder);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25);
    overflow: hidden;
    cursor: pointer;
}

.group .card-content {
    width: calc(100% - 8rem);
    height: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    gap: 2rem;
}

.group .group-time {
    display: flex;
    justify-content: center;
    align-items:baseline;
    gap: 1rem;
}


.group .card-content h2 {
    font-size: 2.8rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 25);
}


.group .day-name, .group .time {
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 25);
}

.group .time  {
    font-size: 2rem;
}
.group .card-picture {
    width: 10rem;
    height: 10rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.group .card-button {
    background-color: var(--primaryButton);
    background-image: url('../../assets/img/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 8rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
}



.group:hover .card-button {
    background-color: var(--primaryButtonHover);
}