.groups-page {
    height: calc(100vh - 16rem);
    margin-top: 10rem;
    padding: 2rem;
}

.groups-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.groups-footer > *:last-child button {
    border-right: none; /* Supprime la bordure sur le dernier élément */
    margin-right: 0; /* Supprime la marge sur le dernier élément */
}