.group-page-time {
    position: relative;
    margin-top: 6rem;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    background: var(--dashMenuColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--fontPrimary);
    font-size: 3.2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    border: none;
    border-top: 1px solid var(--dashMenuBorder);
    border-bottom: 1px solid var(--dashMenuBorder);
    line-height: 1.5;
}

.group-page-hours {
    display: flex;
}

.group-page-users {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    
}

.group-page-users-title {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    
}

.group-page-users-title p {
    width: 40%;
}
.group-page-users-title a {
    background: var(--dashMenuColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--dashMenuBorder);
    width: 60%;
    font-size: 1.4rem;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border-radius: 16px;
}

.group-page-users-title a:hover {
    background: var(--dashMenuColorHover);
}

.group-page-members-title {
    width: 100%;
    height: 8.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.group-page-members-title p {
    width: 30%;
}
.group-page-members-title a {
    background: var(--dashMenuColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--dashMenuBorder);
    width: 60%;
    font-size: 1.4rem;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border-radius: 16px;
}

.group-page-members-title a:hover {
    background: var(--dashMenuColorHover);
}

.group-page-users .users {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 4rem;
}


.group-page-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: 1rem;
    text-align: center;
    color: var(--fontPrimary);
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    border: none;
    line-height: 1.5;
}

.group-page-members {
    height: calc(100vh - 32rem);
    overflow: auto;
}

.group-members-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.button-add-suppr-member
{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.button-add-suppr-member > a
{
    margin: 3px;
    width: 100%;
}