.create-member-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.create-member-footer > *:last-child {
    border-right: none; /* Supprime la bordure sur le dernier élément */
    margin-right: 0; /* Supprime la marge sur le dernier élément */
}